<div id="commentomatic"> <div id="commentBox"></div> <form id="commentForm" method="post"> <label for="author">Name: </label> <input for="author"id="author"/> <label for="content">Comment: </label> <input for="content" id="content"/> <input type="submit" class="button" id="submit_button" value="Comment" /> </form> </div>
