<div id="comments">
<% @comments.each do |comment| %>
<p> Author: <%= comment.author %>, Content: <%= comment.content %>, Votes: <%= comment.votes %> 
<button type="submit" class="vote_button" onclick="vote(<%= comment.id %>)">Vote </button> </p>
<% end %>
</div>
